html {
  font-size: 16px;
}

body {
  margin: 4em 2em;
  background-color: #eee;
  text-align: center;
  font-family: sans-serif;
}

body,
input {
  -webkit-font-smoothing: antialiased;
}

img {
  background-color: black;
  display: inline-block;
  vertical-align: bottom;
}

#query {
  padding: 0.5em 1.5em;
  font-size: 1rem;
  border-radius: 1.5em;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.25);
}
  #query:focus {
    outline: none;
  }

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  padding: 0.5em 1.5em;
  font-size: 1rem;
  border-radius: 1.5em;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.25);
}

.nav {
  position: fixed;
  top: 1em;
  left: 1em;
  right: 1em;
}

#content {
  font-size: 0;
}
  #content > a {
    font-size: 1rem;
    margin: 0.5em;
    display: inline-block;
    vertical-align: bottom;
  }
