body {
  margin: 2em;
  background-color: #777;
  text-align: center;
}

img {
  background-color: black;
  display: block;
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

a {
  color: white;
}

#search {
  padding: 0.25em 0.5em;
  font-size: 1em;
  border: 1px solid;
  border-radius: 0.25em;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  text-align: center;
  height: 1em;
  line-height: 1em;
  margin-top: -0.5em;
  margin-left: -100px;
  font-weight: bold;
}

.nav {
  position: fixed;
  top: 1em;
  left: 1em;
  right: 1em;
}

.pagination {
  position: fixed;
  bottom: 1em;
  left: 1em;
  right: 1em;
}
  .pagination > span,
  .pagination > a {
    display: inline-block;
    padding: 0.5em;
    text-decoration: none;
  }
    .pagination > a:hover {
      text-decoration: underline;
    }

#content {
  margin: 1em 0;
}
  #content > a {
    display: inline-block;
    vertical-align: bottom;
    margin: 0.5em;
  }

.highlight {
  background-color: yellow;
}
